<h1>Song Edit Form</h1>

<%= form_for @song do |f| %>
    <%= f.label 'Name:' %>
    <%= f.text_field :name %>

    <%= f.label 'Artist id:' %>
    <%= f.number_field :artist_id %>

    <%= f.label 'Genre id:' %>
    <%= f.number_field :genre_id %>

    <%= f.submit %>
<% end %>