<h1>Edit Song Details</h1>
<p>Find me in app/views/songs/update.html.erb</p>
<%= form_for @song do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :artist_id %>
<%= f.text_field :artist_id %><br>
<%= f.label :genre_id %>
<%= f.text_field :genre_id %><br>
<%= f.submit%>

<% end %>
